.*.sw?
.yardoc
dist/
pkg/
spec/fixtures/hieradata/*
!spec/fixtures/hieradata/sudo__*.yaml
spec/fixtures/modules/
spec/fixtures/simp_rspec/
spec/rp_env/
!/spec/hieradata/default.yaml
!/spec/fixtures/site.pp
.rspec_system
.vagrant/
.bundle/
Gemfile.lock
vendor/
junit/
log/
doc/
